<div class="container">
  <div class="primary-logo">
    <img src="/assets/icons/primary-logo.png" />
  </div>
  <div class="title-form">
    <h1>Change Password</h1>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="emailFindHandle()">
    <app-text-input-group
      type="email"
      [required]="true"
      [control]="formGroup.controls.email"
      label="email"
      id="email"
    >
      <img #iconRef class="icon" src="/assets/icons/email.svg" />
    </app-text-input-group>
    <p class="login-signup-text">
      Back to
      <span [routerLink]="'../login'">Log in</span>
      <span [routerLink]="'../signup'">Sign up</span>
    </p>
    <primary-button (click)="emailFindHandle()">
      Change Password
      <i class="btn-icon fa-solid fa-arrow-right"></i>
      <!-- <i class="fa-solid fa-arrow-right"></i> -->
    </primary-button>
  </form>
</div>
