@import 'src/app.constants.scss';

.container {
  position: relative;
}
.overlay{
    background: center no-repeat  url('/assets/images/img-bg.jpg') ;
    background-size:cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    filter: blur(2px);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 0.8s;
        opacity: 40%;
        background-color: #bae6fd;
      }
}
.bg-text{
  font-weight: bold;
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: $width-account-navbar;
}


