<nav class="container">
  <ul>
    <li
      class="burger"
      (click)="toggleMenu()"
      *ngIf="isMenuOpen; else showMenuClose"
    >
      <i class="fa-solid fa-xmark"></i>
    </li>

    <ng-template #showMenuClose>
      <li class="burger" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </li>
    </ng-template>

    <li class="primary-logo" (click)="goToHome()">
      <img src="/assets/icons/primary-logo.png" />
    </li>

    <li class="menu" [class.is-open]="isMenuOpen">
      <p
        class="menu-item"
        *ngFor="let item of headerMenu"
        [routerLink]="item.link"
      >
        <i [class]="item.icon"></i>
        {{ item.label }}
      </p>

      <div
        class="menu-change-language-wrapper"
        (click)="isOpenLanguageOption = !isOpenLanguageOption"
      >
        <div class="current-language">
          <div class="flag-language-wrap">
            <span class="country-flag">
              <img [src]="langChoose.img" class="flag" />
            </span>
            <span class="lang-text">{{ langChoose.label }}</span>
          </div>

          <div class="nav-item-caret">
            <i class="fa-solid fa-caret-down"></i>
          </div>
        </div>
      </div>

      <div class="menu-choose-language" [class.active]="isOpenLanguageOption">
        <div
          class="lang-item"
          *ngFor="let lang of languages"
          (click)="chooseLanguageHandle(lang)"
        >
          <span class="country-flag">
            <img [src]="lang.img" class="flag" />
          </span>
          <span class="lang-text">{{ lang.label }}</span>
        </div>
      </div>
      <!-- change language -->
    </li>

    <li *ngIf="isLoggedIn" class="user-info">
      <!-- change languages -->
      <div class="change-language-wrapper">
        <div class="current-language">
          <div class="flag-language-wrap">
            <span class="country-flag">
              <img [src]="langChoose.img" class="flag" />
            </span>
            <span class="lang-text">{{ langChoose.label }}</span>
          </div>

          <div class="nav-item-caret">
            <i class="fa-solid fa-caret-down"></i>
          </div>
        </div>

        <div class="choose-language">
          <div
            class="lang-item"
            *ngFor="let lang of languages"
            (click)="chooseLanguageHandle(lang)"
          >
            <span class="country-flag">
              <img [src]="lang.img" class="flag" />
            </span>
            <span class="lang-text">{{ lang.label }}</span>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="menu-user">
        <div class="user-name">
          <div class="user-avatar">
            <img src="/assets/images/img-bg.jpg" />
          </div>
          <p>{{ username }}</p>
          <div class="nav-item-caret">
            <i class="fa-solid fa-caret-down"></i>
          </div>
        </div>

        <ul class="user-options">
          <li class="">
            <span><i class="fa-solid fa-user"></i></span>
            <!-- {{ "Personal information" | translate }} -->
          </li>
          <li class="" (click)="logoutHandle()">
            <span><i class="fa-solid fa-right-from-bracket"></i></span>
            <!-- {{ "Logout" | translate }} -->
          </li>
        </ul>
      </div>
    </li>

    <li *ngIf="!isLoggedIn" class="book-btn">
      <primary-button [rounded]="true" (click)="navigateToLogin()"
        >Booking now</primary-button
      >
    </li>
  </ul>
</nav>
