@import "src/app.constants.scss";

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bg-primary);
    @media (max-width: 880px) {
      justify-content: space-between;
    }
  }
  
  .primary-logo {
    cursor: pointer;
    text-decoration: none;
    img {
      padding: 0 10px;
      width: 100px;
    }
  }

  .burger {
    padding: 0 10px;
    border-right: 1px solid var(--btn-primary);
    display: none;
    cursor: pointer;
    color: var(--btn-primary);
    font-size: 25px;
    width: 30px;
    i {
      line-height: $header-height;
    }

    @media (max-width: 880px) {
      display: block;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    .menu-item {
      padding: 4px 0px;
      margin: 0 10px;
      height: $header-height;
      line-height: $header-height;
      text-decoration: none;
      display: flex;
      align-items: center;
      column-gap: 6px;
      color: var(--text-primary);
      cursor: pointer;
      transition: all;

      &:hover {
        color: var(--text-hover);
        border-bottom: 4px solid var(--primary-color);
      }

      &.active {
        color: var(--text-hover);
        border-bottom: 4px solid var(--primary-color);
      }
    }

    @media (max-width: 880px) {
      display: block;
      border-top: 1px solid var(--divider-primary);
      position: fixed;
      top: #{$header-height + 35};
      left: -100%;
      padding: 0px;
      width: 45%;
      bottom: 1px;
      transition: 0.6s ease-out;
      background: var(--bg-secondary);
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      &.is-open {
        left: 0;
        top: 74px;
        bottom: 0px;
        .menu-item,
        .menu-change-language-wrapper {
          border-bottom: 1px solid var(--bg-secondary);
          padding-left: 10px;
          column-gap: 10px;
          color: var(--text-primary);
          &:hover {
            background-color: var(--sub-overlay-color);
            border-right: 5px solid var(--btn-primary);
            font-weight: 500;
          }
        }
      }
    }
  }

  .user-info {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 0 10px;
    .menu-user {
      position: relative;
      .user-name {
        align-items: center;
        display: flex;
        background-color: $white-color;
        box-shadow: 0 3px 24px #252e4833;
        border-radius: 10px;
        padding: 6px;
        column-gap: 10px;

        .user-avatar {
          line-height: 0;
          display: inline-block;
          border: 2px solid $overlay-primary-color;
          border-radius: 50%;
          transition: linear 0.25s;

          .avatar-img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }
          &:hover {
            transition: ease-out 0.2s;
            border: 2px solid var(--primary-color);
          }
        }
        p {
          text-transform: capitalize;
          font-weight: 400;
          font-size: 14px;
          @media (max-width: 880px) {
            display: none;
          }
        }
      }

      .user-options {
        position: absolute;
        background-color: $white-color;
        box-shadow: 0 3px 24px #252e4833;
        border-radius: 10px;
        opacity: 0;
        top: 40px;
        visibility: hidden;
        z-index: 100;
        text-transform: capitalize;
        transition: all 0.2s linear;
        width: 190px;
        display: flex;
        flex-direction: column;
        align-items: start;

        @media (max-width: 880px) {
          right: 0;
        }
        li {
          padding: 7px 10px;
          column-gap: 8px;
          border-radius: 10px;
          width: 88%;
          &:hover {
            background-color: var(--sub-overlay-color);
          }
        }
      }
      &:hover {
        .user-options {
          opacity: 100;
          visibility: visible;
        }
      }
    }
  }

  .overlay-modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: .05s ease-out;
    left: -100%;
    &.is-open {
      left: 0;
    }
  }
}

// change languages

.change-language-wrapper {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 4px;
  margin-right: 10px;
  .current-language {
    box-shadow: 0 3px 24px #252e4833;
    border-radius: 10px;
  background-color: white;
  padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    transition: all 0.2s linear;
    column-gap: 4px;

    .flag-language-wrap {
      width: 90px;
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
  }
  .flag-language-wrap,
  .lang-item {
    display: flex;
    align-items: center;
  }
  .flag {
    width: 20px;
    height: 20px;
  }

  &:hover {
    .choose-language {
      opacity: 100;
      visibility: visible;
    }
  }
  @media (max-width: 1200px) {
    display: none;
  }
}

.choose-language {
  position: absolute;
  box-shadow: 0 3px 24px #252e4833;
  border-radius: 10px;
  background-color: white;
  opacity: 0;
  right: 0;
  top: 40px;
  visibility: hidden;
  z-index: 100;
  text-transform: capitalize;
  transition: all 0.2s linear;
  width: 120px;
  .lang-item {
    padding: 7px 10px;
    column-gap: 8px;
    border-radius: 10px;

    &:hover {
      background-color: var(--sub-overlay-color);
    }
  }
}

.menu-change-language-wrapper {
  display: none;

  .current-language {
    display: flex;
  }
  .flag-language-wrap,
  .lang-item {
    display: flex;
    align-items: center;
  }
  .flag {
    width: 20px;
    height: 20px;
  }
  .current-language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    transition: all 0.2s linear;
    column-gap: 4px;

    .flag-language-wrap {
      width: 90px;
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
  }

  @media (max-width: 880px) {
    display: flex;
    align-items: center;
    padding: 10px;
  }
}

.menu-choose-language {
  background-color: var(--card-color);
  opacity: 0;
  display: none;
  visibility: hidden;
  .lang-item {
    padding: 7px 10px;
    column-gap: 8px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-primary);

    &:hover {
      background-color: var(--sub-overlay-color);
      border-right: 3px solid var(--primary-color);
      font-weight: 500;
    }
  }
  .flag {
    width: 20px;
    height: 20px;
  }
  &.active {
    @media (max-width: 880px) {
      opacity: 100 !important;
      visibility: visible !important;
      display: block;
    }
  }
}
