@import "src/app.constants.scss";
.container{
    .booking-title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--text-primary);
        p {
          color: var(--text-disabled);
        }
      }
      .request-options{
        .services-options{
          h4{
            padding: 6px 0px;
          }
          
            .select-dropdown-services{
              width: 170px;
            }
            
       
          .btn-add-service{
            padding: 10px;
            width: 70px;
            border-radius: 6px;
            border: none;
            font-weight: bold;
            font-size: 13px;
            
            background-color: var(--overlay-color);
            cursor: pointer;
            &:hover{
              background-color: var(--sub-overlay-color);
            }
          }

          .room-services-table{
            padding: 10px 30px;
            table {
              width: 100%;
              border-collapse: collapse;
              border: none;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              
            }
            th, td {
                // border: 1px solid var(--text-secondary);
            }
            th, td {
                padding: 10px;
                text-align: left;
            }
            th {
                background-color: var(--sub-overlay-color);
            }
            .delete-service-btn{
              cursor: pointer;
              font-size: 20px;
              width: 30px;
              margin-left: 8px;
            }
          }

        }
      }
      .checkin-checkout{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .checkin-option{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .date-horizontal-box{
            padding: 10px 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            background-color:  var(--overlay-color);
            border-radius: 6px;
            padding-bottom: 25px;
            .room-checkin-and-checkout {
              padding: 1rem 3rem 0 3rem;
              display: flex;
              justify-content: space-between;
              gap: 6px;
        
              .checkin,
              .checkout {
                border-radius: 12px;
                border: 4px solid var(--bg-secondary);
                padding: 12px 20px;
                p {
                  color: var(--text-primary);
                  padding: 4px 0px;
                }
              }
              .relation-checkin-and-checkout {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 70px;
              }
            }
          }
          .time-price-total{
            background-color: $sub-color;
            font-weight: bold;
            text-align: center;
            color: #fff;
            padding: 10px 0px;
            border-radius: 6px;
          }
        }
      }
}
.horizontal-box{
  padding: 10px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

input[type=number]{
    padding: 7px;
    border-radius: 6px;
    width: 100px;
    text-align: center;
    &:focus {
      outline: none;
      border: 1px solid var(--primary-color);
    }
  }
.vertical-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 6px;
  width: 250px;
  background-color: var(--divider-primary);
}

