@import "src/app.constants.scss";

.container {
  background-color: $white-color;
  padding: 35px 25px;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: relative;

  .primary-logo{
    position: absolute;
    top: 1%;
    left: 2%;
    display: flex;
    justify-content: center; 
     
    img{
        width: 100px;
    }
  }
  // width: 400px;
  .title-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    padding-top: 12px;
    h1 {
      color: var(--primary-color);
      padding: 4px 0px;
    }
    p {
      padding: 5px;
      font-size: $small-text-size;
      color: var(--text-primary);
      border-radius: 0.375rem;
      background-color: $overlay-primary-color;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
}
.login-signup-text{
    cursor: pointer;
   font-size: $small-text-size;
   display: none;
   span{
    color: var(--primary-color);
    padding: 0px 4px;
    &:nth-child(1){
      border-right: 1px solid #999;
    }
   }
  }
  @media only screen and (max-width:1024px) and (min-width: 641px) {
     
  }
  @media only screen and (max-width: 640px) {
    .login-signup-text{
      display: block;
    }
  }