<div class="container">
  <div class="invoice-left">
    <div class="invoice-left-top">
      <div class="user-contact-info">
        <div class="user-box">
          <h4>Name</h4>
          <p>{{ userInfoBooking?.username }}</p>
        </div>
        <div class="user-box">
          <h4>Phone</h4>
          <p>{{ userInfoBooking?.phone }}</p>
        </div>
        <div class="user-box">
          <h4>Email</h4>
          <p>{{ userInfoBooking?.email }}</p>
        </div>
      </div>
      <div *ngIf="timeDate" class="check-in-time">
        <h5>
          You will check in at
          <span>{{ timeDate }}</span>
          at our hotel
        </h5>
      </div>
      <div *ngIf="otherReqs" class="other-requests">
        <h4>Requests</h4>
        <p>{{ otherReqs }}</p>
      </div>
    </div>

    <div class="invoice-left-bot">
      <div class="payment">
        <div class="payLater" *ngIf="payment === 'payLater'">
          <img src="/assets/icons/creaditCard.png" alt="creditCard-icon" />
          <p>
            You will pay using
            <span>pay later</span>
            method. Therefore, the room fee has not yet been paid. On the day of
            check-in, {{ fromDate | date : "dd/MM/yyyy" }} you will need to pay
            directly at the hotel.
          </p>
        </div>

        <div class="payPal" *ngIf="payment === 'payPal'">
          <img src="/assets/icons/creaditCard.png" alt="creditCard-icon" />
          <p>
            You will pay using
            <span>pay PayPal</span>
            method. Therefore, you will need to use a Visa card to pay for the
            room online through PayPal.
          </p>
        </div>

        <div class="payATM" *ngIf="payment === 'payATM'">
          <img src="/assets/icons/creaditCard.png" alt="creditCard-icon" />
          <p>
            You will pay using
            <span>pay later</span>
            method. Therefore, you will need to perform some required actions to
            transfer the room payment to the hotel owner.
          </p>
        </div>
      </div>
      <div class="checkin-checkout">
        <div class="date-box">
          <i class="fa-solid fa-calendar"></i>
          <h4>Check-in</h4>
          <p>{{ fromDate | date : "dd/MM/yyyy" }}</p>
        </div>
        <div class="date-box">
          <i class="fa-regular fa-calendar"></i>
          <h4>Check-out</h4>
          <p>{{ toDate | date : "dd/MM/yyyy" }}</p>
        </div>
      </div>
      <div class="hotel-contact-info">
        <h4 class="title">Hotel Information</h4>
        <div class="hotel-box">
          <h4>Address :</h4>
          <p class="text-hotel-sub">{{ room.address }}</p>
        </div>
        <div class="hotel-box">
          <h4>The Hotel Owner :</h4>
          <p class="text-hotel-sub">Nguyen Trung Hieu</p>
        </div>
        <div class="hotel-box">
          <h4>Phone :</h4>
          <p class="text-hotel-sub">0336070648</p>
        </div>
      </div>
    </div>
  </div>

  <div class="invoice-right">
    <div class="room-card">
      <img [src]="room.imgs[0]" alt="room-image" />
      <div class="room-name-branch">
        <p class="title">{{ room.name }}</p>
        <p class="room-branch">Branch {{ room.branch }}</p>
      </div>

      <div class="room-type">
        <p>{{ room?.level }} {{ room.roomType }}</p>
      </div>
      <div class="room-price">
        <h4>Price per {{ priceFormat }}</h4>
        <p>{{ roomRootPrice | currencyVND }}</p>
      </div>
    </div>

    <div class="price-details">
      <div class="stay-duration">
        <h4>{{ duration }} {{ priceFormat }}</h4>
        <p>{{ roomPriceTotal | currencyVND }}</p>
      </div>
      <div class="tax-price">
        <h4>Tax</h4>
        <p>{{ tax | currencyVND }}</p>
      </div>
      <ul class="services-price">
        <li *ngFor="let sev of services">
          <h4>{{ sev.name }} (x{{ sev.quantity }})</h4>
          <p>{{ sev.totalPrice | currencyVND }}</p>
        </li>
      </ul>
      <div class="price-toal">
        <h4>Price Total</h4>
        <p>{{ priceTotal | currencyVND }}</p>
      </div>
    </div>

    <primary-button (click)="submitPayHandle()">Book now</primary-button>
  </div>

  <app-modal
    title="Pay with ATM"
    [visible]="isOpenShowPayWithATM"
    (closeEvent)="isOpenShowPayWithATM = !isOpenShowPayWithATM"
  >
    <div class="pay-qr">
      <h5>
        Please scan the QR code and enter the information below to proceed with
        the booking payment:
      </h5>

      <div class="send-content">
        <p>"{{ userInfoBooking?.username }} booked {{ room.name }}"</p>
      </div>

      <div class="QR">
        <img src="/assets/images/credit-card-ATM.jpg" alt="atm-images" />
      </div>

      <div class="upload-image-payment">
        <h5>
          After successfully payment, please take a screenshot of the payment
          and upload it here:
        </h5>
      </div>
      <div class="">
        <primary-button
          [outline]="true"
          size="small"
          (click)="uploadPayImageHandle()"
        >
          <i class="btn-icon fa-solid fa-arrow-up-from-bracket"></i>
          Upload here
        </primary-button>
      </div>

      <input
        type="file"
        #uploadPayImg
        [attr.hidden]="true"
        (change)="uploadImage($event)"
      />
      <div class="btn-group">
        <app-cancel-buttons
          class="btn"
          size="small"
          (click)="isOpenShowPayWithATM = !isOpenShowPayWithATM"
          >Cancel</app-cancel-buttons
        >
        <primary-button class="btn" size="small" (click)="confirmHandle()"
          >Confirm</primary-button
        >
      </div>
    </div>
  </app-modal>

  <!-- pay with paypal -->
  <app-modal
    title="Pay with Paypal"
    [visible]="isOpenShowPayWithPayPal"
    (closeEvent)="isOpenShowPayWithPayPal = !isOpenShowPayWithPayPal"
  >
    <div class="pay-paypal-modal">
      <p>
        Total amount to pay :
        <span class="paypal-price">{{ priceTotal | currencyVND }}</span>
      </p>
      <h5>
        Please do not refresh the browser while the transaction is processing
      </h5>
      <app-paypal-button
        [showPaypalButtons]="isOpenShowPayWithPayPal"
      ></app-paypal-button>
    </div>
  </app-modal>
</div>
