@import "src/app.constants.scss";
.room-card {
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  grid-template-columns: repeat(4,1fr);
  background: var(--card-primary);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: var(--text-primary);
  background-color: var(--card-color);
  overflow: hidden;
  


  &:hover {
    background: var(--overlay-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.3s ease;
  }

  .card-image {
    grid-column: span 1 / span 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 2s ease;
      &:hover {
        transform: scale(1.1);
      }
    }

    .level-box{
      position: absolute;
      top:10px;
      right: 0;

      .box1{
        background-color: $sub-color;
        height: 20px;
        padding: 2px 20px;
        width: max-content;
        position: relative;

        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        font-weight: 600;
        color: var(--text-primary);
        &::after{
          content: '';
          position: absolute;
          top: -9px;
          right: 0;
          border-left: 6px solid transparent;
          border-top: 6px solid transparent;
          border-bottom: 5px solid #019908;
          border-right: 5px solid #019908;

        }
      }
    }
  }

  .card-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    grid-column: span 3 / span 3;

    .card-title {
      display: flex;
      justify-content: space-between;

      p{
        font-weight: bold;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        color: var(--title-primary);
        width: 95%;
      }
     
      .card-save{
        cursor: pointer;
      }
    }
    .desc {
      font-size: $small-text-size;
      font-weight: 500;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
    .address{
      font-size: 14px;
      display: flex;
      column-gap: 6px;
      padding-top: 3px;
      border-top: 1px solid $gray-color;
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1;
      }
    }
    .branch {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .fees {
      display: flex;
      column-gap: 30px;
      font-size: 1.2rem;
        .price-item{
            display: flex;
            align-items: center;
            column-gap: 8px;
            .price-icon {
              color: var(--text-primary);
              display: flex;
              font-size: 12px;
              align-items: center;
              justify-content: center;
              img{
                width: 14px;
              }
            }
            .price-value {
              color: $sub-color;
              // font-weight: 400;
              font-size: 14px;
              font-weight: 600;
            }
        }
    }
    .card-info-bottom{
        display: flex;
        justify-content: space-between;
        .card-info-convenient-icons{
            display: flex;
            column-gap: 20px;
            align-items: center;
        }
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          width: 100px;

        }
    }
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(3,1fr) ;
    .card-info {
      padding: .5rem;
      grid-column: span 2 / span 2;
      .branch{
        font-size: 14px;
      }

      .fees{
        column-gap: 4px;
        .price-item{
          column-gap: 4px;

        }
      }

      .desc{
        -webkit-line-clamp: 2;
      }

      .address{
        p {
          font-size: 12px;
        }
      }
      .card-info-bottom{
        .card-info-convenient-icons{
          display: none;
        }
        .btn{
          width: 50px;
        }
      }

    }
  }

  @media (max-width: 550px) {
    .fees{
      display: block !important;
    }
  }
}
