<div class="container">
  <div class="input-control">
    <label
      class="input-title"
      [for]="id"
      [ngStyle]="{ order: changeDirection ? 2 : 1 }"
      *ngIf="label"
    >
      {{ label }}
      <span *ngIf="required" class="required-label">*</span>
    </label>

    <div class="input-group">
      <div class="input-icon" [class.active]="iconRight">
        <ng-content select=".icon"></ng-content>
      </div>

      <input
        #inputRef
        [type]="fieldTextType ? type : 'text'"
        [name]="id"
        [formControl]="control"
        [placeholder]="placeholder"
        [attr.disabled]="disabled"
        [class.invalid-input-custom]="
          control.invalid && control.dirty && control.touched
        "
        [ngStyle]="{ order: changeDirection ? 1 : 2 }"
      />

      <div class="input-group-append" *ngIf="type === 'password'">
        <span
          *ngIf="fieldTextType === false; else showEyeIcon"
          (click)="toggleFieldTextType()"
        >
          <img class="icon" src="/assets/icons/eye.svg" />
        </span>

        <ng-template #showEyeIcon>
          <span (click)="toggleFieldTextType()">
            <img class="icon" src="/assets/icons/eye-closed.svg" />
          </span>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-container
    *ngIf="
      control.invalid && control.dirty && control.touched && isAutoValidators
    "
  >
    <div class="error-message" *ngFor="let err of control.errors | keyvalue">
      {{ errorMessages[err.key] }}
    </div>
  </ng-container>

  <ng-content
    *ngIf="
      control.invalid && control.dirty && control.touched && !isAutoValidators
    "
  ></ng-content>
</div>
