.container{
    background-color: var(--card-color);
    color: var(--text-primary);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius:  6px;
    padding: 10px;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    
    .title-icon{
        position: absolute;
        top: -36px;
        left: -26px;
        img{
            height: 100px;
            width: 100px;
            top: -100%;
            left: -6%;
        }
    }

    .evaluation-content{
        padding-top: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    .user-info{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
    }
    @media (max-width: 900px) {
        gap: 3px;

        .evaluation-content{
            font-size: 14px;
        }
    }
}