<div class="container">
  <div class="home-bg">
    <div class="text-home">
      <p>DHouse Dalat</p>
      <h1>Search Your Hotel</h1>
    </div>
    <app-search-home class="search"></app-search-home>
  </div>

  <div class="rooms-list">
    <h3 class="title">All rooms at our chain's branch hotel.</h3>
    <app-rooms-card-list></app-rooms-card-list>
  </div>
  <div class="rooms-list">
    <h3 class="title">What Our Happy Customer Say.</h3>
    <app-customer-evaluations></app-customer-evaluations>
  </div>

  <app-main-feature-summary></app-main-feature-summary>
</div>
