@import "src/app.constants.scss";
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  
  .home-bg {
    position: relative;
    width: 85%;

    border-radius: 50px;
    background: center no-repeat url("/assets/gif/home.gif");
    background-size: cover;
    object-fit: cover;
    height: 80vh;
    margin: 30px 0;
  }
  .search {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-home {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    p,
    h1 {
      color: $white-color;
      margin-left: 4%;
    }

    @media (max-width: 659px) {
      top: 15%;
    }
    
  }

  .rooms-list {
    background-color: var(--bg-secondary);
    padding: 1rem 2rem;
    .title {
      position: relative;
      width: max-content;
      color: var(--text-primary);
      margin: 1rem 0;
      z-index: 2;
      &::after {
        content: "";
        position: absolute;
        background: var(--primary-color);
        height: 5px;
        width: 220px;
        right: 0;
        bottom: 2px;
        z-index: -1;
      }
      @media (max-width: 600px) {
        font-size: 16px;
        &::after {
          content: "";
          position: absolute;
          background: var(--primary-color);
          height: 5px;
          width: 190px;
          right: 0;
          bottom: 2px;
          z-index: -1;
        }
      }
    }
  }
}
