<div class="container">
  <div class="menu-select-option" (click)="openOptionsHandle()">
    <div class="choosed-option">
      <span class="option-icon" *ngIf="choosedItem?.img">
        <img [src]="choosedItem.img" class="icon" [alt]="choosedItem.img" />
      </span>
      <span class="option-text">{{ choosedItem.label }}</span>
    </div>

    <div class="nav-item-caret">
      <i class="fa-solid fa-caret-down"></i>
    </div>
  </div>

  <div class="dropdown-options" [class.active]="isOpenDropdown">
    <div
      class="option-item"
      *ngFor="let r of arrItem"
      (click)="chooseHandle(r)"
    >
      <span class="option-icon" *ngIf="r?.img">
        <img [src]="r.img" class="icon" />
      </span>
      <span class="option-text">{{ r.label }}</span>
    </div>
  </div>
</div>
