.container{
    border-radius: 6px;
    border: 1px solid var(--divider-primary);

    .child-comments{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 210px;
        padding-bottom: 10px;
        padding-right: 10px;
        .child-comment{
            border-radius: 6px;
            border: 1px solid var(--divider-primary);
        }
    }
}