<div class="container">
  <div class="left">
    <h5 class="title">DHouse Dalat</h5>
    <h3 class="sub-title">Great features for you</h3>
    <p class="desc">
      Dhouse Dalat offers customers a range of useful features to facilitate
      easy operation and interaction with the hotel, as well as access to the
      services provided by Dhouse Dalat.
    </p>
    <div class="body">
      <!-- feature 1 -->
      <div class="feature-item">
        <div
          class="feature-icon"
          style="color: #00695c; background-color: #80cbc4"
        >
          <i class="icon fa-solid fa-house"></i>
        </div>
        <div class="feature-content">
          <h4>Quick booking</h4>
          <p>
            Easy to search and select suitable rooms according to customers'
            needs to find a wonderful place to stay in Dalat
          </p>
        </div>
      </div>

      <!-- feature 2 -->
      <div class="feature-item">
        <div
          class="feature-icon"
          style="color: #b71c1c; background-color: #ef9a9a"
        >
          <i class="icon fa-solid fa-newspaper"></i>
        </div>
        <div class="feature-content">
          <h4>View news</h4>
          <p>
            "Stay updated with the latest updates from Dhouse Homestay and keep
            up with current travel trends."
          </p>
        </div>
      </div>

      <!-- feature 3 -->
      <div class="feature-item">
        <div
          class="feature-icon"
          style="color: #f57f17; background-color: #fff176"
        >
          <i class="icon fa-solid fa-chart-line"></i>
        </div>
        <div class="feature-content">
          <h4>Booking management list</h4>
          <p>
            Manage the list of booking orders for detailed observation and
            cancelation if needed.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="feature-img">
      <div class="feature-img-top-right">
        <img
          class="img1"
          src="https://images.unsplash.com/photo-1598002420135-c4896b60ba7b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGRhbGF0JTIwdmlldG5hbXxlbnwwfHwwfHx8MA%3D%3D"
        />
        <img
          class="img2"
          src="https://statics.vinpearl.com/da-lat-vietnam-02_1690601595.jpg"
        />
      </div>
      <div class="feature-img-bottom-right">
        <img
          class="img3"
          src="https://lbcdn.airpaz.com/hotelimages/1675376/charisma-da-lat-75f45b0f8cdd6c635025224645227d7f.jpg"
        />
        <img
          class="img4"
          src="https://aw-d.tripcdn.com/images/0222o12000aut6xz00EC1_R_960_660_R5_D.webp"
        />
      </div>
    </div>
  </div>
</div>
