<div class="container">
  <div class="img-room">
    <img
      [src]="choosedRoomImg"
      [alt]="choosedRoomImg"
      [class.active]="isOpenShow"
    />
  </div>

  <div
    class="show-expend-image"
    [class.active]="isOpenShow"
    (click)="showExpendRoomsImgHandle()"
  >
    <i class="show-expend-icon fa-solid fa-expand"></i>
  </div>

  <div class="show-more-img" [class.active]="isOpenShow">
    <span class="show-more-img-icon" (click)="showRoomsImgHandle()">
      show more images
      <i class="fa-solid fa-angles-right" [class.rotate]="isOpenShow"></i>
    </span>

    <ul *ngIf="isOpenShow" class="imgs-options">
      <li *ngFor="let roomImg of roomImgs" (click)="setChoosedRoomImg(roomImg)">
        <img [src]="roomImg" [alt]="roomImg" />
      </li>
    </ul>
  </div>

  <ng-container *ngIf="isExpendShow">
    <div class="modal-expend-image">
      <div class="close-expend-image" (click)="showExpendRoomsImgHandle()">
        <i class="close-expend-icon fa-solid fa-xmark"></i>
      </div>
      <div class="expend-image">
        <img [src]="choosedRoomImg" [alt]="choosedRoomImg" />
      </div>
    </div>
  </ng-container>
</div>
