<div class="container">
  <div class="policy-title">
    <h4>Cancellation and Rescheduling Policy</h4>
  </div>
  <p class="suggest">You have the best price for this room!</p>

  <div
    class="cancellation-policy"
    *ngIf="depositRefund === 0; else depositRefundTime"
  >
    <i class="fa-solid fa-circle-xmark"></i>
    <p>This booking is non-refundable.</p>
  </div>
  <ng-template #depositRefundTime>
    <div class="cancellation-policy" [class.active]="depositRefund !== 0">
      <i class="fa-solid fa-square-check"></i>
      <p>
        Free cancellation before {{ depositRefundDate | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </ng-template>

  <div
    class="rescheduling-policy"
    *ngIf="reschedulable === 0; else reschedulableTime"
  >
    <i class="fa-solid fa-circle-xmark"></i>
    <p>Non-reschedulable</p>
  </div>
  <ng-template #reschedulableTime>
    <div class="rescheduling-policy" [class.active]="reschedulable !== 0">
      <i class="fa-solid fa-square-check"></i>
      <p>
        Free reschedulable before {{ reschedulableDate | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </ng-template>
</div>
