<ng-container *ngIf="!isLoading; else loader">
  <app-breadcrumb [arrBreadcrumbs]="breadcrumbs"></app-breadcrumb>
  <div class="container">
    <div class="tour-detail-header">
      <div class="tour-detail-img-main">
        <img [src]="tourDetail.places[0].imgs[0]" alt="tour-img" />
      </div>
      <div class="tour-detail-title">
        <div class="tour-detail-title-top">
          <h3 class="tour-detail-name">{{ tourDetail.name }}</h3>
          <p class="tour-detail-note">
            *Note: that this tour belongs to Branch {{ tourDetail.branch }} of
            the hotel.
          </p>
          <div class="tour-detail-price">
            <div class="price-item">
              <h5>{{ tourDetail.adult.name }} :</h5>
              <h5>{{ tourDetail.adult.price | currencyVND }}</h5>
            </div>
            <div class="price-item">
              <h5>{{ tourDetail.children.name }} :</h5>
              <h5>{{ tourDetail.children.price | currencyVND }}</h5>
            </div>
          </div>
          <p>{{ tourDetail.desc }}</p>
        </div>
        <div class="tour-detail-title-bottom">
          <div class="destinations">
            <h4>Destinations</h4>
            <ul>
              <li *ngFor="let d of tourDetail.places; index as ii">
                {{ ii + 1 }}. {{ d.name }}
              </li>
            </ul>
          </div>
          <primary-button
            class="tour-booking-btn"
            (click)="isOpenModalTourBooking = !isOpenModalTourBooking"
          >
            Tour Booking
          </primary-button>
        </div>
      </div>
    </div>

    <div class="tour-detail-body">
      <div class="tour-detail-content">
        <h3>Details of the tour program:</h3>
        <h5>Departure time: {{ tourDetail.departureTime }}</h5>

        <div class="tour-detail-card" *ngFor="let d of tourDetail.places">
          <h4>{{ d.name }}</h4>
          <p class="tour-item-content-desc">{{ d.desc }}</p>
          <img
            *ngFor="let i of d.imgs"
            [src]="i"
            alt="bg"
            class="tour-detail-place-imgs"
          />
        </div>
      </div>
      <div class="tour-detail-list">
        <h4>Other Tours</h4>
        <div
          class="tour-item-card"
          *ngFor="let t of toursList"
          [routerLink]="['/tour', 'tour-detail', t.id]"
        >
          <img [src]="t.places[0].imgs[0]" alt="tour-img" />
          <div class="tour-item-body">
            <h5>{{ t.name }}</h5>
            <div class="tour-detail-price">
              <div class="price-item">
                <h5>{{ tourDetail.adult.name }} :</h5>
                <h5>{{ tourDetail.adult.price | currencyVND }}</h5>
              </div>
              <div class="price-item">
                <h5>{{ tourDetail.children.name }} :</h5>
                <h5>{{ tourDetail.children.price | currencyVND }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-modal
    title="Hotels"
    [visible]="isOpenModalSuggestHotels"
    (closeEvent)="isOpenModalSuggestHotels = !isOpenModalSuggestHotels"
  >
    <div class="rooms-suggest-list">
      <app-hotel-suggest-card
        [room]="room"
        *ngFor="let room of roomsListByBranch"
      ></app-hotel-suggest-card>
    </div>
  </app-modal>
  <app-modal
    class="tour-booking-modal"
    title="Tour Booking"
    [visible]="isOpenModalTourBooking"
    (closeEvent)="isOpenModalTourBooking = !isOpenModalTourBooking"
  >
    <app-form-tour-booking
      class="form-tour-booking"
      (newItemEvent)="tourBookingHanlde($event)"
    ></app-form-tour-booking>
  </app-modal>
</ng-container>
<ng-template #loader> <app-loader></app-loader></ng-template>
