.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .overall-rating{

    }
    .writing-comment{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        
        form{
            display: flex;
            gap: 15px;
            align-items: end;
            padding-left: 20px;
            .comment-input{
                width: 70%;
            }
            .send-comment-btn{
                margin: 5px 0;
            }
        }
    }
    .show-comments{
        padding: 0 20px;
    }
}