<div class="container">
  <h3>Other reviews from travelers about The One Premium Hotel</h3>
  <h5>Overall Ratings & Reviews</h5>

  <div class="overall-rating">
    <div class="avarage-point">
      <div class="edge-of-cycle">
        <div class="avarage-point-cycle">
          <h1>7.8</h1>
        </div>
      </div>
      <h3>Convenient</h3>
    </div>

    <ul class="satisfaction-points">
      <li class="satisfaction-item">
        <p>Excellent</p>
        <app-progress-bar
          class="progress"
          [percent]="excellentPercent"
        ></app-progress-bar>
        <p>14</p>
      </li>
      <li class="satisfaction-item">
        <p>VeryGood</p>
        <app-progress-bar
          class="progress"
          [percent]="excellentPercent"
        ></app-progress-bar>

        <p>14</p>
      </li>
      <li class="satisfaction-item">
        <p>Satisfaction</p>
        <app-progress-bar
          class="progress"
          [percent]="excellentPercent"
        ></app-progress-bar>

        <p>14</p>
      </li>
      <li class="satisfaction-item">
        <p>Average</p>
        <app-progress-bar
          class="progress"
          [percent]="excellentPercent"
        ></app-progress-bar>
        <p>14</p>
      </li>
      <li class="satisfaction-item">
        <p>Poor</p>
        <app-progress-bar
          class="progress"
          [percent]="excellentPercent"
        ></app-progress-bar>
        <p>14</p>
      </li>
    </ul>

    <div class="services-mark">
      <div class="serivces-item">
        <p>Cleanliness</p>
        <app-star-rating></app-star-rating>
      </div>
      <div class="serivces-item">
        <p>Comfort</p>

        <app-star-rating></app-star-rating>
      </div>
      <div class="serivces-item">
        <p>Food</p>

        <app-star-rating></app-star-rating>
      </div>
      <div class="serivces-item">
        <p>Location</p>

        <app-star-rating></app-star-rating>
      </div>
      <div class="serivces-item">
        <p>Serivce</p>

        <app-star-rating></app-star-rating>
      </div>
    </div>
  </div>

  <app-writing-comment-evaluation
    [roomID]="roomID"
    (newItemEvent)="setCommentAfterCreate($event)"
    class="writing-comment"
  ></app-writing-comment-evaluation>

  <div class="show-comments">
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
    ></app-comment>
  </div>
</div>
