<div class="container">
  <h3>Other reviews from travelers about The One Premium Hotel</h3>
  <h5>Overall Ratings & Reviews</h5>

  <div class="overall-rating">
    <div class="avarage-point">
      <div class="edge-of-cycle">
        <div class="avarage-point-cycle">
          <h1>{{ room.ratingScore }}</h1>
        </div>
      </div>
      <h3>Convenient</h3>
    </div>

    <ul class="satisfaction-points">
      <li class="satisfaction-item" *ngFor="let s of room.satisfactionScore">
        <p>{{ s.name }}</p>
        <app-progress-bar
          class="progress"
          [percent]="s.score"
          [excellentPercentTotal]="excellentPercentTotal"
        ></app-progress-bar>
        <p>{{ s.score }}</p>
      </li>
    </ul>

    <ul class="services-mark">
      <li class="serivces-item" *ngFor="let s of room.servicesScore">
        <p>{{ s.name }}</p>
        <app-star-rating [readonly]="true" [rating]="s.score"></app-star-rating>
      </li>
    </ul>
  </div>

  <app-writing-comment-evaluation
    [roomID]="room.id"
    (newItemEvent)="setCommentAfterCreate($event)"
    class="writing-comment"
  ></app-writing-comment-evaluation>

  <div class="show-comments">
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
    ></app-comment>
  </div>
</div>
