@import "src/app.constants.scss";

.container {
  background-color: $white-color;
  padding: 35px 25px;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: relative;
  .primary-logo{
    position: absolute;
    top: 1%;
    left: 2%;
    display: flex;
    justify-content: center; 
     
    img{
        width: 100px;
    }
  }
  // width: 400px;
  .title-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    h1 {
      color: var(--primary-color);
      padding: 4px 0px;
    }
    p {
      padding: 5px;
      font-size: $small-text-size;
      color: var(--text-primary);
      border-radius: 0.375rem;
      background-color: $overlay-primary-color;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
}

.change-password-text, .login-text{
  cursor: pointer;
   font-size: $small-text-size;
   display: none;
  }
  .login-text{
   text-align: center;

   span{
    color: var(--primary-color)
   }
  }
  .login-google-btn{
    display: none;
    
  }
  @media only screen and (max-width:1024px) and (min-width: 641px) {
   
  }
  @media only screen and (max-width: 640px) {
    .container{
      margin-top: -10%;
    }
    .change-password-text, .login-text{
      display: block;
    }
    .login-google-btn{
      display: flex;
    }
  }