<div class="container">
  <div class="primary-logo">
    <img src="/assets/icons/primary-logo.png" />
  </div>
  <div class="title-login-form">
    <h1>Sign Up</h1>
    <!-- <p>Quanr/p> -->
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="signupHandle()">
    <app-text-input-group
      [required]="true"
      [control]="formGroup.controls.username"
      label="username"
      id="username"
    >
      <img #iconRef class="icon" src="/assets/icons/user.svg" />
    </app-text-input-group>
    <app-text-input-group
      type="email"
      [required]="true"
      [control]="formGroup.controls.email"
      label="email"
      id="email"
    >
      <img #iconRef class="icon" src="/assets/icons/email.svg" />
    </app-text-input-group>
    <app-text-input-group
      type="password"
      [required]="true"
      [control]="formGroup.controls.password"
      label="password"
      id="password"
    >
    </app-text-input-group>
    <app-text-input-group
      type="password"
      [required]="true"
      [control]="formGroup.controls.confirmPassword"
      label="confirm password"
      id="confirm password"
    >
    </app-text-input-group>
    <p class="change-password-text" [routerLink]="'../change-password'">
      Change Password?
    </p>
    <primary-button
      type="submit"
      (click)="signupHandle()"
      (keyup.enter)="signupHandle()"
      >Sign up</primary-button
    >
  </form>
  <primary-button
    class="login-google-btn"
    (click)="signupHandle()"
    [outline]="true"
  >
    Continue with Google
    <img class="btn-icon" src="/assets/icons/google.png" />
  </primary-button>
  <p class="login-text">
    Are you ready to explore?
    <span [routerLink]="'../login'">Log in here</span>
  </p>
</div>
