$primary-color: #0ea5e9;
$sub-color: #14b8a6;
$white-color: #f8fafc;
$info-color: #3b82f6;
$errors-color: #f43f5e;
$sucess-color: #10b981;
$text-color:#082f49;
$overlay-primary-color: #bae6fd;

$width-account-navbar: 550px;

$small-text-size: 12px;
$text-size: 18px;
