$primary-color: #0ea5e9;
$sub-color: #14b8a6;
$white-color: #fff;
$info-color: #3b82f6;
$errors-color: #f43f5e;
$warning-color: #facc15;
$success-color: #10b981;
$text-color: #082f49;
$overlay-primary-color: #bae6fd;
$disabled-color: #94a3b8;
$sub-overlay-primary-color:#e0f2fe;

$width-account-navbar: 550px;

$small-text-size: 12px;
$text-size: 18px;
$icon-size: 22px;
$menuHeight: 50px;

$menuBreakpoint: 768px;

$header-height: 40px;