@import "src/app.constants.scss";
.container{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem 0;
    .breadcrumb-item{
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 8px;

        cursor: pointer;

        .breadcrumb{
            display: flex;
            align-items: center;
            gap: 4px;
            p{
                font-size: $text-size;
                text-transform: capitalize;
                
            }
            .breadcrumb-icon {
                width: 16px;
                height: 18px;
                margin-bottom: 3px;
            }
            &:hover{
                color: $info-color;                    
            }
            @media (max-width: 650px) and (min-width:500px) {
                p{
                    font-size: 14px;
                }
                .breadcrumb-icon {
                    width: 14px;
                    height: 16px;
                }
            }
            @media (max-width: 495px) {
                p{
                    font-size: 12px;
                }
                .breadcrumb-icon {
                    width: 14px;
                    height: 16px;
                }
            }
        }
    }
}