@import 'src/app.constants.scss';

.container{
    background-color: $white-color;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}
// .menu{
//     @media (max-width: $menuBreakpoint) {
//         display: none;
//     }
// }
.btn-account-navbar{
    cursor: pointer;
    background-color: $white-color;
    border: $white-color;
    padding: 5px 10px;
    width: 140px;   
    height: 50px; 
    border-bottom: 4px solid $white-color;
    
    &:hover{
        border-bottom: 4px solid var(--primary-color);
        background-color: #ebf7fd;
        border-right: 1px solid var(--primary-color);
        border-left: 1px solid var(--primary-color);
    }
    &.active{
        border-bottom: 4px solid var(--primary-color);
        background-color: #ebf7fd;
    }
}
.btn-bot-left-radius{
    border-bottom-left-radius: 10px;
}
.btn-bot-right-radius{
    border-bottom-right-radius: 10px;
}
// .primary-logo{
//     display: none;
//     margin-left: 4px;
//     img{
//         width: 80px;
//     }
//     @media (max-width: $menuBreakpoint) {
//         display: block;
//       }
// }
// .burger {
//     padding: 0 10px;
//     border-left: 1px solid #eee;
//     display: none;
//     cursor: pointer;

//     .menu-icon {
//       color: #999;
//       font-size: 30px;
//     }

//     @media (max-width: $menuBreakpoint) {
//         display: block;
//       }
// }

@media only screen and (max-width:1024px) and (min-width: 641px) {
 
}
@media only screen and (max-width: 640px) {
  .container{
    display: none;
  }
  
}